.register-page {
  background: linear-gradient(to right, #f0f2f5, #e2e6ea);
  padding: 40px;
}

.card {
  border-radius: 15px;
  background-color: #fff;
}
.form-label {
  font-weight: 600;
}

.img-thumbnail {
  max-width: 100px;
  border-radius: 8px;
}
.profile-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 8px;
}